.row {
  @include flexbox;
}

.col {
  @include flexbox(nowrap, column);
}

.col-33p {
  width: 33.33%;
  
  @media all and (max-width: 988px) {
    width: 50%;
  }
  @media all and (max-width: 767px) {
    width: 100%;
  }
}

.col-66p {
  width: 66.66%;  
}
